body {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    text-align:center
  }
p {
    margin: 35px;
}
.block1 {
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    height: auto;
    padding: 10px
}
.responsive {
    width: 300px;
    height: auto;
}
.different {
    color:lightsalmon;
    font-size: 20px;
    font-weight: 700;
}
h1 {
    background-color:aliceblue;
}
h2 {
    text-align:left;
    text-indent: 100px;
    background-color:aliceblue;
}
p.block2 {
    font-size: 20px;
    text-align: left;
    margin-left: 100px;
    margin-right: 300px;
    width: auto;
    height: auto;
    padding: 10px
}