body {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    text-align:center
  }
p {
    margin: 35px;
}
.block1 {
    font-size: 20px;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    height: auto;
    padding: 10px
}
.responsive {
    width: 300px;
    height: auto;
}
.different {
    color:lightsalmon;
    font-size: 20px;
    font-weight: 700;
}
h6 { 
    background-color:aliceblue;
}
h1 {
    font-size: 40px;
    color:rgb(0, 136, 255);
}
h2 {
    font-size: 40px;
    text-align:left;
    text-indent: 75px;
    color:rgb(0, 136, 255);
}
p.block2 {
    font-size: 20px;
    text-align: justify;
    margin-left: 75px;
    margin-right: 40%;
    width: auto;
    height: auto;
    padding: 0px
}

